{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Translator</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>
    <div class="container-fluid">
        <div class="row justify-content-center mt-5"> <!-- Added mt-5 for top margin -->
            <div class="col-md-6 text-center"> <!-- Centered the content -->
                <h1>TEXT TRANSLATOR</h1> <!-- Text Translator heading -->
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="translator-container">
                    <form id="translateForm" class="translator-form" action="{% url 'translate_text' %}" method="post">
                        {% csrf_token %}
                        <div class="translator-inputs">
                            <input type="text" id="textInput" name="textInput" class="form-control mt-5" placeholder="Enter text to translate" required>
                            <select class="form-select mt-4" id="dest_lang" name="dest_lang" required>
                                {% for code, language in languages.items %}
                                <option value="{{ code }}">{{ language }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-md-2">
                                <button id="translateButton" class="btn btn-primary mt-3">Translate</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'frontend.js' %}"></script>

</body>

</html>